h1, .filterTodos {
  text-align:center;
}
.todo {
  border:1px solid black;
  width:30%;
  float:left;
  margin:2% 2% 2% 0;
}
.todoContent{
  padding:5px;
}
.todoName{
  text-align: center;
  font-weight:700;
  padding:5px;
  border-bottom:1px solid black;
  text-transform: capitalize;
}
.addTodos{
  margin:0 0 0 8%;
  position:absolute;
  bottom:35px;
  z-index:100;
  background-color:white;
}
.todoActions .btn {
  margin-top:10px;
  font-size:14px;
}
.todoActive{
  font-size:10px;
  color:orange;
}
.todoCompleted{
  font-size:10px;
  color:green;
}
.todoDescription{
  font-size:14px;
  min-height:50px;
  padding-left:5px;
}
.todoDate{
  font-size:12px;
  margin:0;
}
.todoList{
  padding-left:4%;
  overflow:scroll;
  height:390px;
  padding-bottom:20px;
}
.markComplete{
  float:right;
}
.formLeft, .formRight{
  float:left;
}
.formRight{
  margin-left:15px;
}
.formFields{
  margin-left:30px;
  width:182px;
}
.formFields input{
  width:100%;
}
.formRight textarea{
  height:85px;
}
.formDescription{
  vertical-align: top;
}
.targetCompletionDate{
  float:left;
  margin-left:10px;
}
.addTodoBtn{
  margin-left:10px;
}