h1, .filterTodos {
  text-align:center;
}
.todo {
  border:1px solid black;
  width:30%;
  float:left;
  margin:2% 2% 2% 0;
}
.todoContent{
  padding:5px;
}
.todoName{
  text-align: center;
  font-weight:700;
  padding:5px;
  border-bottom:1px solid black;
  text-transform: capitalize;
}
.addTodos{
  margin:20px 27%;
  position:absolute;
  bottom:0px;
  z-index:100;
  background-color:white;
  width:73%;
}
.todoActions .btn {
  margin-top:10px;
  font-size:14px;
}
.todoDescription{
  font-size:14px;
  min-height:50px;
  padding-left:5px;
}
.todoDate{
  font-size:12px;
  margin:0;
}
.todoList{
  padding-left:4%;
  overflow:scroll;
  height:310px;
  padding-bottom:20px;
}
.markComplete{
  float:right;
}
.formNames, .formFields{
  float:left;
}
.formFields{
  margin-left:30px;
  width:182px;
}
.formFields input{
  width:100%;
}
.formFields textarea{
  margin-top:13px;
  height:80px;
}
.targetCompletionDate{
  margin-top:67px;
}
.addTodoBtn{
  margin-top:10px;
}