h1, .filterTodos {
  text-align:center;
}
.todo {
  border:1px solid black;
  width:30%;
  float:left;
  margin:15px;
}
.todoContent{
  padding:5px;
}
.todoName{
  text-align: center;
  font-weight:700;
  padding:5px;
  border-bottom:1px solid black;
}
.addTodos{
  clear:both;
  float:left;
  margin:15px;
}
.todoActions .btn {
  margin-top:10px;
  font-size:14px;
}
.todoDate{
  font-size:12px;
  margin:0;
}
.markComplete{
  float:right;
}
.formNames, .formFields{
  float:left;
}
.formFields{
  margin-left:30px;
  width:182px;
}
.formFields input{
  width:100%;
}
.formFields textarea{
  margin-top:13px;
}
.targetCompletionDate{
  margin-top:35px;
}
.addTodoBtn{
  margin-top:10px;
}